.header {
	position:fixed;
	z-index: $z_index-level6 + 10;
	top:0;
	left:0;
	right:0;
	background: $color-dark;
	padding:16px 0 16px 0;
	box-shadow: 0 0 16px rgba($color-dark, 0.5); 
	@include respond($breakpoint-nav) {
		padding:32px 0 32px 0;		
	}
} 

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	height: 41px;
	order: 1;
	@include respond($breakpoint-nav) {
		height: 55px;
	}
	img {
		max-width: 180px;
		@include respond($breakpoint-nav) {
			max-width: none;
		}
	}
}

.nav {
	order: 2;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	@include respond($breakpoint-nav, "down") {
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.nav a {
	color:#cccccc;
	font-family: $font-condensed;
	font-weight: 700;
	font-size:1.125em;
	line-height: 1.3333333333;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
	display: block;
	margin:0 0 0 16px;
	&:hover {
		color:#fff;
		border-bottom: 2px solid $color-orange;
	}
}

.header .hamburger {
	order: 3;
	background:transparent;
	@include respond($breakpoint-nav) {
		display: none;
	}
}

@include respond($breakpoint-nav, "down") {
	$navHeight: 168px;
	body {
		transition: padding 0.2s ease;
		.nav, header {
			transition: all 0.2s ease;
		}
	}
	html.has-nav body{
		padding-top:$navHeight;
		.nav {
			top:0;
		}
		header {
			top:$navHeight;
		}
	}
	.nav {
		position:fixed;
		top:-$navHeight;
		left:0;
		right:0;
		width:100%;
		background: $color-orange;
		padding:16px;
		margin:0;
		overflow: auto;
		height:$navHeight;
		max-height:100vh;
		a {
			display: block;
			color:#fff;
			font-size:18px;
			line-height: 1.3333333333;
			margin:4px 0;
			border:none;
			&:hover {
				border: none;
			}
		}
	}
}


// -----------------------------------------------------------------------------
//! Language Switcher
// -----------------------------------------------------------------------------

.header .container {
	position: relative;
}



@include respond($breakpoint-nav) {
	.language {
		position: absolute;
		right:16px;
		bottom:100%;
		box-shadow: 0 0 0px 1px rgba(255,255,255,0.1);
	}
	
	.language a {
		display: block;
		color:#fff;
		font-size:14px;
		font-family: $font-condensed;
		line-height: 24px;
		padding:0 8px;
	}
	
	
	.language-toggle {
		display: none;
	}

	.language-subnav {
		position: absolute;
		right:0;
		top:100%;
		background: $color-dark;
		display: none;
		box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
		a {
			white-space: nowrap;
			transition: background 0.2s ease, color 0.2s ease;
			&.mobile {
				display: none;
			}
			&:hover {
				background: rgba(255,255,255,0.05);
				color: $color-orange;
			}
		}
	}
	

	.language:hover .language-subnav {
		display: block;
	}	
	
}

@include respond($breakpoint-nav, "down") {
	.language {	
		position: absolute;
		right:64px;
		top:50%;
		height:24px;
		margin-top: -14px;
	}
	
	.language > a {
		display: none;
	}
	
	.language-subnav a.mobile {
		display: block;
	}
	
	.language-toggle {
		display: block;
		background:transparent;
		padding:0;
		cursor: pointer;
		svg,
		img {
			display: block;
		}
		&.is-active svg * {
			fill: $color-orange;
		}
	}
	
}


@include respond($breakpoint-nav, "down") {
	$langHeight: 96px;
	body {
		transition: padding 0.2s ease;
		.language-subnav, header {
			transition: all 0.2s ease;
		}
	}
	html.has-lang body{
		padding-top:$langHeight;
		.language-subnav {
			top:0;
		}
		header {
			top:$langHeight;
		}
	}
	.language-subnav {
		position:fixed;
		top:-$langHeight;
		left:0;
		right:0;
		width:100%;
		background: $color-orange;
		padding:16px;
		margin:0;
		overflow: auto;
		height:$langHeight;
		max-height:100vh;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;
		a {
			text-align: right;
			text-transform: uppercase;
			font-family: $font-condensed;
			font-weight: 700;
			display: block;
			color:#fff;
			font-size:18px;
			line-height: 1.3333333333;
			margin:4px 0;
			border:none;
			&:hover {
				border: none;
			}
		}
	}
}
