.signup {
	background:#e95424;
	position: relative;
	padding:64px 0;
	text-align: center;
	color:#fff;
	.container {
		position: relative;
	}
}
.signup:before {
	content:"";
	width:100%;
	position: absolute;
	top:-80px;
	height:366px;
	left:0;
	right:0;
	background-image: url(../images/signup-bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	background-size: auto;
}

.signup-title {
	font-size:2em;
	text-transform: uppercase;
	font-family: $font-condensed;
	font-weight: 700;
	line-height: 1;
	margin:0;
	@include respond($breakpoint-type) {
		font-size:3em;
	}
}

.signup-subtitle {
	margin:16px auto 24px auto;
	font-size: 1.25em;
	line-height: 1.5;
	max-width: 460px;
	font-weight: 500;
}

.signup form {
	max-width: 100%;
	position: relative;
	margin:0 auto;
	@include respond($breakpoint-form) {
		display: flex;
		max-width: 404px;
	}
	.form-row {
		justify-content: center;
		div[rel="checkbox"], div[rel="recaptcha"] {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	.cr_ipe_checkbox {
		display: inline-block;
    width: auto;
    height: auto;
    margin-right: 0.5rem;
	}
}

.signup form input, .signup form select {
	width: 100%;
	background:rgba(255,255,255,0.5);
	line-height: 48px;
	height:48px;
	border-radius: 2px;
	color:#fff;
	font-size:1.25em;
	padding:0 16px;
	border: 1px solid #fff;
	@include input-placeholder {
		color:#fff;
		opacity: 1;
	}
}

.signup form .btn-signup {
	background:#fff;
	width:170px;
	font-family: $font-condensed;
	color: $color-orange;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 2px;
	margin:16px 0 0 0;
	line-height: 48px;
	height:48px;
	font-size:1.125em;
	cursor: pointer;
	transition: background 0.2s ease;
	&:hover {
		background-color: rgba(255,255,255,0.8);
	}
}
.not-uk {
	&.signup form {
		input {
			border-radius: 2px 0 0 2px;
		}
		.btn-signup {
			margin:0;
			border-radius: 0 2px 2px 0;
		}
	}
}

.signup form .btn-signup:disabled {
	background-color:#ccc;
	cursor: not-allowed;
}

#signup-email-error {
	position: absolute;
	color:#fff;
	top:100%;
	left:0;
}

#signup-messages {
	padding-top:24px;
}
