// -----------------------------------------------------------------------------
//! GENERAL
// -----------------------------------------------------------------------------

html {
	height: 100%;
	background:#fff;
}

body {
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1132px;
	padding:0 16px;
	margin:0 auto;
}