@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=32c14fc7-169f-476a-ac5e-0a7cf8cd41fa");

    @font-face{
        font-family:"Helvetica Neue";
        font-weight: 300;
        src:url("../fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix");
        src:url("../fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix") format("eot"),
	        url("../fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),
	        url("../fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff"),
	        url("../fonts/fdf10d5e-4ce0-45e5-a6c1-5eaff6cb1c11.ttf") format("truetype");
    }
    @font-face{
        font-family:"Helvetica Neue";
        font-weight: 400;
        src:url("../fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix");
        src:url("../fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix") format("eot"),
	        url("../fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),
	        url("../fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff"),
	        url("../fonts/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf") format("truetype");
    }
    @font-face{
        font-family:"Helvetica Neue";
        font-weight: 500;
        src:url("../fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix");
        src:url("../fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix") format("eot"),
	        url("../fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"),
	        url("../fonts/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff"),
	        url("../fonts/14d824a2-2a5c-4692-8e30-74f6e177b675.ttf") format("truetype");
    }
    @font-face{
        font-family:"Helvetica Neue Condensed";
        font-weight: 500;
        src:url("../fonts/6994d5d5-1d80-494f-892d-c78bfa4ea02c.eot?#iefix");
        src:url("../fonts/6994d5d5-1d80-494f-892d-c78bfa4ea02c.eot?#iefix") format("eot"),
	        url("../fonts/1a559dd9-e51e-45d5-86eb-f343223bacef.woff2") format("woff2"),
	        url("../fonts/581fae27-b5f4-44ab-b5b1-92f11d4f9838.woff") format("woff"),
	        url("../fonts/c0f9c753-4ac5-481a-ab98-9608b0d315e0.ttf") format("truetype");
    }
    @font-face{
        font-family:"Helvetica Neue Condensed";
        font-weight: 700;
        src:url("../fonts/960546c0-8bc0-4951-94f4-a871c16e8211.eot?#iefix");
        src:url("../fonts/960546c0-8bc0-4951-94f4-a871c16e8211.eot?#iefix") format("eot"),
	        url("../fonts/02980b3d-1e37-4378-a5c6-4cf0d6ce0ba5.woff2") format("woff2"),
	        url("../fonts/2d1e8a5f-eb7a-47a1-be1d-878bb9a46b6e.woff") format("woff"),
	        url("../fonts/54838aa7-3cb7-478e-b2a6-14eef3033f22.ttf") format("truetype");
    }
    @font-face{
        font-family:"Helvetica Neue Condensed";
        font-weight: 800;
        src:url("../fonts/0007b544-938d-4ec2-93b4-6b5d691cc68e.eot?#iefix");
        src:url("../fonts/0007b544-938d-4ec2-93b4-6b5d691cc68e.eot?#iefix") format("eot"),
	        url("../fonts/28343101-8a93-4048-85b0-ef49feebe7bf.woff2") format("woff2"),
	        url("../fonts/799e7d1f-b263-4621-9776-df01ebcff3e2.woff") format("woff"),
	        url("../fonts/42758050-e592-48c6-9564-d444b5252934.ttf") format("truetype");
    }
