.rotate {
	background-color:#f1f1f3;
	background-image: url(../images/rotate-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding:24px 0;
}

.rotate-title {
	font-family: $font-condensed;
	font-weight: 500;
	font-size:1.25em;
	line-height: 1.2;
	text-align: center;
	color: #010101;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	@include respond($breakpoint-type) {
		font-size: 2em;	
		line-height: 1;
	}
}

.rotate .tab-container {
	position: relative;
	height:100%;
}

.rotate-tabs-controls {
	@include respond($breakpoint-product-tabs, "down") {
		display: flex;	
		align-items: center;
		justify-content: center;
		margin-top:24px;
	}
	@include respond($breakpoint-product-tabs) {
		position: absolute;
		left:0;
		top:50%;
		transform: translateY(-50%);
		z-index: $z_index-level2;	
	}
}

.rotate-switcher {
	display: inline-block;
	background-color:transparent;
	background-image: none;
	border: none;
	font-size:1.5em;
	font-weight: 500;
	line-height: 48px;
	padding:0 16px;
	&:hover {
		color: $color-orange;
		cursor: pointer;
	}
	@include respond($breakpoint-product-sm, "down") {
		font-size:1em;
		padding:0 8px;
	}
	@include respond($breakpoint-product-tabs, "down") {
		border-bottom: 2px solid transparent;
		transition: border 0.2s ease, color 0.2s ease;	
	}
	
	@include respond($breakpoint-product-tabs) {
		padding:0 40px 0 24px;	
		line-height: 64px;
	}
}

.rotate-switcher.is-active {
	@include respond($breakpoint-product-tabs, "down") {
		color: $color-orange;
		border-bottom:2px solid $color-orange;
	}
	@include respond($breakpoint-product-tabs) {
		background-image: url(../images/rotate-tab-bg.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-size:100% 100%;
		color:#fff;
	}
}

.rotate-tabs {
	max-width: 592px;
	padding:0 16px;
	margin:0 auto 0 auto;
	width:100%;
	@include respond($breakpoint-product-tabs) {
		margin:24px auto 0 240px;
	}
	@include respond($breakpoint-product-lg) {
		margin:24px auto 0 auto;
	}
}

.cd-product-viewer-wrapper {
	position: relative;
	&:after {
		content:"";
		position: absolute;
		bottom:25px;
		left:50%;
		transform: translateX(-50%);
		width:70px;
		height:25px;
		background-image:url(../images/360.png);
		background-repeat: no-repeat;
		background-size:100% 100%;
		background-color: transparent;
		background-position: center center;
	}
}

.no-points .rotate-point-holder {
	display: none;
}
.rotate-point-holder {
	position: absolute;
	top:48px;
	left:50%;
	transform: translateX(-50%);
	bottom:116px;
	width:100%;
	max-width: 560px;
	z-index: $z_index-level5;
	
}

.rotate-point {
	position: absolute;
	cursor: pointer;
	width:20px;
	height:20px;
	border:2px solid #fff;
	background: $color-orange;
	border-radius: 50%;
	transition: transform 0.2s ease, opacity 0.2s ease;
	opacity: 0.9;
	animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
	&:hover {
		transform: scale(1.1);
		opacity: 1;
	}
	

}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #e35205; 
  }
  100% {
    box-shadow: 0px 0px 0px 10px rgba(227, 82, 5, 0); 
  } 
}

.rotate-point-inner {
	display: none;
	position: absolute;
	top:50%;
	left:5%;
	right:5%;
	transform: translateY(-50%);
	background:#383739;
	border:4px solid $color-orange;
	font-size:21px;
	line-height: 26px;
	font-weight: 700;
	font-family: $font-condensed;
	letter-spacing: -0.025em;
	color:#fff;

}
.rotate-point-inner .text {
	text-align: left;
	padding:16px;
	@include respond($breakpoint-point) {
		padding:32px;	
	}	
}
.rotate-point-inner .text p {
	font-weight: normal;
	font-size:16px;
	margin:0;
	line-height: 1.5;
}

.rotate-point-inner .close {
	position: absolute;
	line-height: 30px;
	font-size:18px;
	font-family: Arial, Helvetica, Sans-serif;
	color: $color-orange;
	width:32px;
	height:32px;
	background:#fff;
	border-radius: 50%;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
	top:-12px;
	right:-12px;
	cursor: pointer;
	z-index: $z_index-level5;
	font-weight: bold;
	text-align: center;
	transition: color 0.2s ease, background 0.2s ease;
	&:hover {
		background:$color-orange;
		color:#fff;
	}
}