.hero {
	margin-top:73px;
	@include respond($breakpoint-nav) {
		margin-top:119px;		
	}
}

.hero {
	background-image: url(../images/hero-bg-v2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center top;
	background-color:#fff;
	position: relative;
	@include respond($breakpoint-hero-title-sm, "down") {
		//height:240px;
	}
	@include respond($breakpoint-hero-title-md, "down"){
		height:auto;	
		padding:64px 16px;
	}
	@include respond($breakpoint-hero-fix) {
		height:800px;
	}
	&:before {
	    display: block;
	    content: "";
	    width: 100%;
	    padding-top: (607 / 1200) * 100%;
	    @include respond($breakpoint-hero-title-md, "down") {
		    display: none;
	    }
	    @include respond($breakpoint-hero-fix) {
		    display: none;
	    }
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: $z_index-level3 - 2;
		background: rgba(255,255,255,0.5);
		@include respond($breakpoint-hero-title-md) {
			display: none;
		}
	}
}

.hero-play {
	cursor: pointer;
	position: absolute;
	top:40%;
	left:72%;
	transform: translate(-50%,-50%);
	width:64px;
	height:64px;
	background-image:url(../svg/play.svg);
	background-size:100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.75;
	transition: opacity 0.2s ease;
	display: none;
	z-index: $z_index-level3;
	&:hover {
		opacity: 1;
	}	
	@include respond($breakpoint-hero-title-md) {
		top:40%;
		display: block;
	}
	@include respond($breakpoint-nav) {
		top:40%;
		width:128px;
		height:128px;
	}
	&.mobile-show {
		display: inline-block;
		position: static;
		transform: none;
		width:64px;
		height:64px;	
		margin:0 0 16px 0;	
		background-image:url(../svg/play-dark.svg);
		@include respond($breakpoint-hero-title-md) {
			display: none;	
		}
	}
}

.hero-inner {
	max-width: 1132px;
	width:100%;
	position: absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:0 16px;
	z-index: $z_index-level3 - 1;
	@include respond($breakpoint-hero-title-md, "down"){
		text-align: center;	
		position: relative;
		transform: none;
		left:0;
		top:0;
	}
}

.hero-logo {
	display: inline-block;
	
}

.hero-title {
	text-align: center;	
	color: $color-dark;
	width:100%;
	font-size:1.75em;

	font-family: $font-condensed;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: -0.035em;
	span {
		font-weight: 500;
	}
	@include respond($breakpoint-hero-title-sm) {
		font-size:2.25em;
	}
	@include respond($breakpoint-hero-title-md) {
		font-size:2.5em;
		text-align: left;	
	}
	@include respond($breakpoint-hero-title-lg) {
		font-size:2.75em;
	}
	
	position:relative;
	left:-40px;
	opacity: 0;
	transition: left 0.6s ease 0.4s, opacity 0.6s ease 0.4s;
	
}



.hero-tag {

	display: block;
	margin:48px 0 32px 0;
	position: relative;
	left:-40px;
	opacity: 0;
	transition: left 0.6s ease, opacity 0.6s ease;
	@include respond($breakpoint-hero-title-md, "down"){
		max-width: none;
		text-align: center;
		margin: 16px 0;
	}
}

.is-animated .hero-tag{
	opacity: 1;
	left:0;
}

.is-animated .hero-title {
	opacity: 1;
	left:0;
}



.hero-tag-inner {
	display: inline-block;
	background: $color-orange;
	color:#fff;
	line-height: 1;
	padding:16px 16px 16px 0;
	font-family: $font-condensed;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 2em;
	border-radius: 0 10px 10px 0;
	position: relative;
	span {
		font-weight: 500;
	}
	@include respond($breakpoint-hero-title-md,"down") {
		font-size:1em;
		text-align: center;
		border-radius: 10px;
		padding:8px;
		&:before {
			display: none;
			
		}
	}
	&:before {
		content:"";
		position: absolute;
		width:200em;
		right:100%;
		top:0;
		bottom:0;
		background: $color-orange;
	}

}