
@font-face {
  font-family: 'HelveticaNeueLTCom-MdCn';
  src: url('HelveticaNeueLTCom-MdCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTCom-MdCn.woff') format('woff'), url('HelveticaNeueLTCom-MdCn.ttf')  format('truetype'), url('HelveticaNeueLTCom-MdCn.svg#HelveticaNeueLTCom-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
